.text-center {
  text-align: center;
}
.pad-b-60 {
  padding-bottom: 40px;
}
.bg-whitesmoke {
  background-color: #f4f4f4;
}
.grid {
  display: -ms-grid;
  display: grid;
}
.grid-col-26 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
    1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-center-items {
  align-self: center;
  justify-self: center;
}
/* text colors */
.font-size {
  font-size: 3rem;
  font-style: oblique;
  color: #008bbaec;
}
.main {
  overflow: hidden;
  position: relative;
  width: 50%;
}
.w-img {
  height: 55px;
  width: 55px;
  display: block;
  object-fit: cover;
  object-position: top 100%;
  background-color: #f4f4f4;
}
.overlay {
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0;
  left: 0;
  height: auto;
  width: auto;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008bba8c;
}
.main:hover .overlay {
  opacity: 1;
}
.text {
  overflow: hidden;
  color: white;
  font-size: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
